body {
  padding: 15px;
  margin: 0;
}
@media screen and (max-width: 419px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: blue;
  }
  h2::before {
    content: "azul ";
  }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: orange;
  }
  h2::before {
    content: "orange";
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: pink;
  }
  h2::before {
    content: "pink";
  }
}
@media screen and (min-width: 1024px) and (max-width: 1079px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: rgb(187, 24, 51);
  }
  h2::before {
    content: "vermelho";
  }
}
@media screen and (min-width: 1080px) and (max-width: 1367px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: purple;
  }
  h2::before {
    content: "purple ";
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: yellow;
  }
  h2::before {
    content: "yellow";
  }
}
@media screen and (min-width: 1920px) {
  .container {
    height: 500px;
    width: 100%;
    background-color: green;
  }
  h2::before {
    content: "green";
  }
}
