body {
  background-color: #ffff;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #388e3c;
  cursor: pointer;
}

header {
  background-color: #ff9800;
  color: #ffff;
  padding: 10px 20px;
  /* padding: topBottom RightLeft; */
  /* padding: top right bottom left */
  border-radius: 15px;
}

nav {
  background-color: #85321e;
  /*   float: left; */
  width: 100%;
  color: black;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
}
nav ul {
  list-style: none;
  margin-bottom: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}
nav ul li a {
  padding: 5px 10px;
}

nav ul li a:hover {
  color: #689f38;
}

section {
  background-color: #ffff;
  border: 1px solid #e0e0e0;
  padding: 1.2rem;
  margin: 1rem;
}

aside {
  background-color: #ff9800;
  color: #333333;
  padding: 20px;
  margin: 20px 0;
  float: right;
  width: 25%;
}

footer {
  background-color: #4caf50;
  color: #ffff;
  padding: 10px 20px;
  text-align: right;
}

ul li {
  list-style: circle;
  color: #4caf50;
}
ol li {
  color: #4caf50;
}
pre {
  background-color: #e0e0e0;
  color: #333333;
  padding: 5px 10px;
}
img {
  display: block;
  margin: 0 auto;
  border: solid 1px #e0e0e0;
  max-width: 100%;
  height: auto;
}

figure figcaption {
  text-align: center;
}

table {
  border: 3px solid black;
}
table tr {
  align-content: center;
}
