* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container {
  background-color: pink;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

#janelaState {
  width: 30rem;
  height: 30rem;
}
